/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
.vh-box{
  height: 100vh;
}
/* utility */
.flex{
  display: flex;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
main{
  height: 90%;
}
footer{
  height: 10%;
}
.overflow-auto{
  overflow: auto;
}
/* main */
section{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  padding: 34px 0;
}
.card{
  flex-basis: calc(100% / 7 - 4px);
  margin-bottom: 4px;
}
.img-box img{
  display: block;
  width: 100%;
}
.etichetta{
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(98, 98, 98, 0.5);
  padding: 4px 6px;
}
main .view-imp{
  top:0;
  right: 0;
  }
  .view-imp span{
    margin-left: 4px;
    padding: 4px 6px;
    color: white;
    background-color: rgba(98, 98, 98, 0.5);
    font-size: 12px;
    border-radius: 4px;
  }
/* footer */
footer{
  color: white;
  background-color: rgb(34,34,34);
  justify-content: space-between;
  text-align: center;
}
footer i{
  font-size: 20px;
}
.foot-left{
  padding-left: 15px;
}
.foot-left,
.foot-center{
  padding-top: 10px;
  padding-bottom: 10px;
}
.foot-center div,
.foot-left div, 
.foot-right div{
  margin-right: 10px;
}
.shere-screen i{
  color: rgb(14, 182, 14);
}
.foot-right{
  align-items: center;
  background-color: gray;
  padding-left: 20px;
  color: red;
}
.angle-up i{
  font-size: 10px;
  margin-right: 10px;
}

