/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
.vh-box{
  height: 100vh;
  border: solid 5px red;
}
/* utility */
.flex{
  display: flex;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
/* main */
section{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  padding: 30px 0;
}
.card{
  flex-basis: calc(100% / 7 - 4px);
  margin-bottom: 4px;
}
.img-box img{
  display: block;
  width: 100%;
}
.etichetta{
  bottom: 10px;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 6px;
}
/* footer */
footer{
  color: white;
  background-color: gray;
  justify-content: space-between;
  text-align: center;
}
footer i{
  font-size: 20px;
}
.foot-left,
.foot-center{
  padding-top: 10px;
  padding-bottom: 10px;
}
.foot-center div,
.foot-left div, 
.foot-right div{
  margin-right: 10px;
}
.shere-screen i{
  color: rgb(14, 182, 14);
}
.foot-right{
  align-items: center;
  background-color: black;
  padding-left: 20px;
  color: red;
}
